@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: oklch(var(--background));
    --color-foreground: oklch(var(--foreground));
    --font-sans: oklch(var(--font-geist-sans));
    --font-mono: oklch(var(--font-geist-mono));
    --color-sidebar-ring: oklch(var(--sidebar-ring));
    --color-sidebar-border: oklch(var(--sidebar-border));
    --color-sidebar-accent-foreground: oklch(var(--sidebar-accent-foreground));
    --color-sidebar-accent: oklch(var(--sidebar-accent));
    --color-sidebar-primary-foreground: oklch(
        var(--sidebar-primary-foreground)
    );
    --color-sidebar-primary: oklch(var(--sidebar-primary));
    --color-sidebar-foreground: oklch(var(--sidebar-foreground));
    --color-sidebar: oklch(var(--sidebar));
    --color-chart-5: oklch(var(--chart-5));
    --color-chart-4: oklch(var(--chart-4));
    --color-chart-3: oklch(var(--chart-3));
    --color-chart-2: oklch(var(--chart-2));
    --color-chart-1: oklch(var(--chart-1));
    --color-ring: oklch(var(--ring));
    --color-input: oklch(var(--input));
    --color-border: oklch(var(--border));
    --color-destructive: oklch(var(--destructive));
    --color-accent-foreground: oklch(var(--accent-foreground));
    --color-accent: oklch(var(--accent));
    --color-muted-foreground: oklch(var(--muted-foreground));
    --color-muted: oklch(var(--muted));
    --color-secondary-foreground: oklch(var(--secondary-foreground));
    --color-secondary: oklch(var(--secondary));
    --color-primary-foreground: oklch(var(--primary-foreground));
    --color-primary: oklch(var(--primary));
    --color-popover-foreground: oklch(var(--popover-foreground));
    --color-popover: oklch(var(--popover));
    --color-card-foreground: oklch(var(--card-foreground));
    --color-card: oklch(var(--card));
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --background: 1 0 0; /* hsl(0 0% 100%) */
    --foreground: 0.226 0.005 272; /* hsl(240 10% 3.9%) */
    --card: 1 0 0;
    --card-foreground: 0.226 0.005 272;
    --popover: 1 0 0;
    --popover-foreground: 0.226 0.005 272;
    --primary: 0.205 0.009 272; /* hsl(240 9% 10%) */
    --primary-foreground: 0.985 0 0;
    --secondary: 0.964 0.005 272; /* hsl(240 4.8% 95.9%) */
    --secondary-foreground: 0.205 0.009 272;
    --muted: 0.964 0.005 272;
    --muted-foreground: 0.527 0.017 272;
    --accent: 0.964 0.005 272;
    --accent-foreground: 0.205 0.009 272;
    --destructive: 0.627 0.213 29; /* hsl(0 84.2% 60.2%) */
    --destructive-foreground: 0.985 0 0;
    --border: 0.91 0.005 272;
    --input: 0.91 0.005 272;
    --ring: 0.226 0.005 272;
    --chart-1: 0.693 0.198 33; /* hsl(12 76% 61%) */
    --chart-2: 0.607 0.138 165; /* hsl(173 58% 39%) */
    --chart-3: 0.426 0.072 222; /* hsl(197 37% 24%) */
    --chart-4: 0.783 0.148 86; /* hsl(43 74% 66%) */
    --chart-5: 0.784 0.178 68; /* hsl(27 87% 67%) */
    --radius: 0.5rem;

    /* Sidebar variables */
    --sidebar-background: 0.985 0 0;
    --sidebar-foreground: 0.407 0.015 272;
    --sidebar-primary: 0.205 0.009 272;
    --sidebar-primary-foreground: 0.985 0 0;
    --sidebar-accent: 0.964 0.005 272;
    --sidebar-accent-foreground: 0.205 0.009 272;
    --sidebar-border: 0.94 0.021 255;
    --sidebar-ring: 0.765 0.185 254;
}

.dark {
    --background: 0.226 0.005 272;
    --foreground: 0.985 0 0;
    --card: 0.226 0.005 272;
    --card-foreground: 0.985 0 0;
    --popover: 0.226 0.005 272;
    --popover-foreground: 0.985 0 0;
    --primary: 0.985 0 0;
    --primary-foreground: 0.205 0.009 272;
    --secondary: 0.329 0.006 272;
    --secondary-foreground: 0.985 0 0;
    --muted: 0.329 0.006 272;
    --muted-foreground: 0.675 0.02 272;
    --accent: 0.329 0.006 272;
    --accent-foreground: 0.985 0 0;
    --destructive: 0.372 0.123 29;
    --destructive-foreground: 0.985 0 0;
    --border: 0.329 0.006 272;
    --input: 0.329 0.006 272;
    --ring: 0.752 0.013 272;
    --chart-1: 0.57 0.192 254;
    --chart-2: 0.54 0.145 166;
    --chart-3: 0.73 0.167 68;
    --chart-4: 0.7 0.18 305;
    --chart-5: 0.63 0.225 7;

    /* Dark sidebar variables */
    --sidebar-background: 0.205 0.009 272;
    --sidebar-foreground: 0.964 0.005 272;
    --sidebar-primary: 0.985 0 0;
    --sidebar-primary-foreground: 0.205 0.009 272;
    --sidebar-accent: 0.329 0.006 272;
    --sidebar-accent-foreground: 0.964 0.005 272;
    --sidebar-border: 0.329 0.006 272;
    --sidebar-ring: 0.765 0.185 254;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.main-gradient {
    @apply bg-gradient-to-r from-orange-500 to-pink-500;
}
